.gm-label {
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
  font-size: 12px;
  padding: 1px 8px;
  white-space: nowrap;
}

.gm-label-default {
  background-color: transparent;
  color: var(--gm-color-default) !important;
  border: 1px solid var(--gm-label-color-inactive); // 甩锅，设计觉得通用边框颜色太浅，这里做特殊取色
}

.gm-label-primary {
  background-color: var(--gm-color-primary);
  color: white;
}

.gm-label-danger {
  background-color: var(--gm-label-color-danger);
  color: white;
}

.gm-label-inactive {
  background-color: var(--gm-label-color-inactive);
  color: white;
}

.gm-label-gray {
  background-color: var(--gm-label-color-gray);
  color: var(--gm-color-default);
}
