.gm-card {
  border: solid 1px var(--gm-color-border);
  border-radius: 3px;
  cursor: pointer;

  .gm-card-header {
    width: 100%;
    border-bottom: solid 1px var(--gm-color-border);
    background-color: var(--gm-color-bg-back);
    padding: 0px 10px;
    font-size: 14px;
    position: relative;

    .gm-card-header-title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }

    .gm-card-header-action-icon {
      font-size: 18px;
      position: absolute;
      right: 10px;
    }
  }

  .gm-card-header-inactive {
    .gm-card-label {
      background-color: var(--gm-color-bg-inactive);
      color: var(--gm-color-default);
    }

    .gm-card-label-content {
      .gm-card-label-right,
      .gm-card-label-left {
        background-color: var(--gm-color-bg-inactive);
      }
    }
  }

  .gm-card-content {
    padding: 12px;
  }

  .gm-label-container {
    margin-right: 8px;
    height: 20px;
    position: relative;
    overflow: hidden;
  }

  .gm-card-label {
    font-size: 12px;
    min-width: 40px;
    height: auto;
    text-align: center;
    color: white;
    padding: 0 2px;
    z-index: 1;
    background-color: var(--gm-color-primary);
  }

  .gm-card-label-content {
    width: 100%;
    height: 9px;
    position: absolute;
    top: 8px;

    .gm-card-label-right,
    .gm-card-label-left {
      width: 40px;
      background-color: var(--gm-color-primary);
    }

    .gm-card-label-right {
      transform: rotate(10deg);
      margin-right: -5px;
    }

    .gm-card-label-left {
      transform: rotate(350deg);
      margin-left: -5px;
    }
  }

  &:hover {
    border-color: var(--gm-color-border-primary);

    .gm-card-header {
      border-color: var(--gm-color-border-primary);
      background-color: var(--gm-color-bg-primary-light);
      color: var(--gm-color-primary);

    }
    .gm-card-header-inactive {
      color: var(--gm-color-default);
      background-color: var(--gm-color-bg-back);
    }
  }
}