.gm-card {
  border: solid 1px var(--gm-color-border);
  border-radius: 3px;
  cursor: pointer;

  .gm-card-header {
    width: 100%;
    border-bottom: solid 1px var(--gm-color-border);
    background-color: var(--gm-color-bg-back);
    padding: 0px 10px;
    font-size: 14px;
    position: relative;

    .gm-card-header-title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }

    .gm-card-header-action-icon {
      font-size: 18px;
      position: absolute;
      right: 10px;
    }
  }

  .gm-card-header-inactive {
    .gm-card-label {
      background-color: var(--gm-card-bg-inactive);
      color: var(--gm-color-default);
    }

    .gm-label-container-bottom {
      border-left: 20px solid var(--gm-card-bg-inactive);
      border-right: 20px solid var(--gm-card-bg-inactive);
    }
  }

  .gm-label-container {
    margin-right: 8px;
    height: 20px;
    position: relative;

  }

  .gm-label-container-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    content: ' ';
    height: 5px;
    border-left: 20px solid var(--gm-color-primary);
    border-right: 20px solid var(--gm-color-primary);
    border-bottom: 5px solid transparent;
  }

  .gm-card-label {
    position: relative;
    font-size: 12px;
    min-width: 40px;
    height: auto;
    text-align: center;
    color: white;
    padding: 0 2px;
    z-index: 1;
    background-color: var(--gm-color-primary);
  }

  &:hover {
    border-color: var(--gm-color-border-primary);

    .gm-card-header {
      border-color: var(--gm-color-border-primary);
      background-color: var(--gm-color-bg-primary-light);
      color: var(--gm-color-primary);

    }
    .gm-card-header-inactive {
      color: var(--gm-color-default);
      background-color: var(--gm-color-bg-back);
    }
  }
}