.gm-nav {
  width: var(--gm-nav-size-width);
  height: 100vh;
  background: #243351;

  .gm-nav-logo {
    text-align: center;
    margin-bottom: 10px;
    height: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background: #17233d;
    }
  }

  .gm-nav-content {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .gm-nav-one {
    height: 40px;
    padding-left: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 80%);
    display: flex;
    align-items: center;
    opacity: 0.8;

    .gm-nav-one-icon {
      font-size: 16px;
      line-height: 1;
      margin-right: 6px;
    }

    .gm-nav-one-text {
      font-size: 14px;
    }
  }

  .gm-nav-popup {
    color: var(--gm-color-default);
    background: white;
    position: absolute;
    top: 0;
    left: var(--gm-nav-size-width);
    box-shadow: 1px 1px 6px 1px rgba(36, 51, 81, 0.2);
  }

  .gm-nav-one-box {
    padding-bottom: 10px;
    position: relative;

    .gm-nav-one-triangle {
      display: none;
      position: absolute;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-right: 6px solid white;
      top: 14px;
      right: -1px;
    }

    &:hover {
      .gm-nav-one {
        color: white;
        opacity: 1;
        background: rgba(40, 113, 187, 0.4);
      }

      .gm-nav-one-triangle {
        display: block;
      }
    }

    &.active {
      .gm-nav-one {
        color: white;
        opacity: 1;
        background: rgba(40, 113, 187, 1);
      }

      .gm-nav-one-triangle {
        display: block;
      }
    }
  }

  .gm-nav-two {
    min-width: 110px;
    padding: 20px 10px 20px;

    .gm-nav-two-title {
      color: var(--gm-color-default);
      padding: 0 0 10px;
      font-weight: 600;
      font-size: 14px;
      border-bottom: 1px solid #f0f1f3;
      margin: 0 10px 8px;
    }
  }

  .gm-nav-three {
    display: block;
    padding: 0 10px;
    margin: 2px 0;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color: var(--gm-color-default);
    border-radius: 2px;
    white-space: nowrap;

    &:hover {
      color: var(--gm-color-primary);
      background-color: var(--gm-color-bg-back);
    }

    &.active {
      color: var(--gm-color-primary-active);
      background-color: var(--gm-color-bg-back);
    }
  }
}
