// 请谨慎，改动需要考虑 full_tab，具体看 frame/index.less
.gm-tabs {
  .gm-tabs-head-fix {
    height: 40px;
  }

  .gm-tabs-head {
    height: 40px;
    padding: 0 20px;
    background: var(--gm-color-bg-back);
    border-bottom: 1px solid var(--gm-color-border-special);

    .gm-tabs-head-item {
      font-size: 14px;
      line-height: 28px;
      padding: 0 10px;
      position: relative;
      cursor: pointer;
      color: var(--gm-color-default);
      border-left: 1px solid transparent;
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      border-bottom: none;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      &.active {
        background: white;
        border-left: 1px solid var(--gm-color-border);
        border-top: 1px solid var(--gm-color-border);
        border-right: 1px solid var(--gm-color-border);

        &::after {
          content: '';
          height: 1px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -1px;
          background: white;
        }
      }
    }
  }
}

// 明亮风格的样式覆盖
.gm-tabs-light {
  .gm-tabs-head-fix {
    height: 35px;
  }

  .gm-tabs-head {
    height: 35px;
    background: none;
    border-bottom: none;

    .gm-tabs-head-item {
      border: none;
      padding: 0 2.5px;
      margin: 0 7.5px;
      border-bottom: 2px solid transparent;

      &:first-of-type {
        margin: 0;
        margin-right: 7.5px;
      }

      &.active {
        color: var(--gm-color-primary);
        border: none;
        border-bottom: 2px solid var(--gm-color-primary);

        &::after {
          background: none;
        }
      }
    }
  }
}
