// stylelint-disable

@gm-screen-sm: 768px;
@gm-screen-md: 992px;
@gm-screen-lg: 1200px;
@gm-screen-xl: 1920px;

@gm-screen-sm-min: @gm-screen-sm;
@gm-screen-md-min: @gm-screen-md;
@gm-screen-lg-min: @gm-screen-lg;
@gm-screen-xl-min: @gm-screen-xl;

@gm-screen-sm-max: @gm-screen-md - 1px;
@gm-screen-md-max: @gm-screen-lg - 1px;
@gm-screen-lg-max: @gm-screen-xl - 1px;

// grid
@gm-grid-columns: 24;

// 颜色会变
:root {
  // color
  --gm-color-default: #000923; // 主内容
  --gm-color-secondary: rgba(36, 51, 81, 0.8); // 次要内容
  --gm-color-desc: #798294; // 描述内容
  --gm-color-primary: #56a3f2;
  --gm-color-disabled: rgba(0, 0, 0, 0.5);

  --gm-color-white: white;
  --gm-color-black: black;

  // bg
  --gm-color-bg-white: white;
  --gm-color-bg-back: #f7f8fa; // 背景色
  --gm-color-bg-primary: #56a3f2;
  --gm-color-bg-primary-light: #d7e8fc;
  --gm-color-bg-primary-more-light: #edf3f9;

  // active
  --gm-color-primary-active: darken(#56a3f2, 10%);
  --gm-color-bg-primary-active: darken(#56a3f2, 10%);

  // border
  --gm-color-border-primary: #56a3f2;
  --gm-color-border-special: rgba(216, 222, 231, 0.5);

  // table
  --gm-color-table-td-active: #b2d5ff;
}

// 不变的
:root {
  // color
  --gm-color-placeholder: #b2b2b2;
  --gm-color-accent: #ff6500;
  --gm-color-success: #1eac52;
  --gm-color-danger: #fa5151;
  --gm-color-link: #576b95;
  --gm-color-red: red;
  --gm-color-true-white: white; // 一定是白色
  --gm-color-true-black: black; // 一定是黑色

  --gm-color-border: #d4d8d8;

  // bg
  --gm-color-bg-success: #1eac52;
  --gm-color-bg-danger: #fa5151;
  --gm-color-bg-switch: #afb5c0;
  --gm-color-bg-disabled: #f0f1f3;

  // active
  --gm-color-success-active: darken(#1eac52, 10%);
  --gm-color-danger-active: darken(#fa5151, 10%);
  --gm-color-bg-success-active: darken(#1eac52, 10%);
  --gm-color-bg-danger-active: darken(#fa5151, 10%);

  // 字体尺寸
  --gm-size-line-height: 1.33;
  --gm-size-text-12: 12px;
  --gm-size-text-14: 14px;
  --gm-size-text-16: 16px;
  --gm-size-text-18: 18px;
  --gm-size-text-20: 20px;

  // 大小
  --gm-size-form-height: 30px;
  --gm-size-border-radius: 2px;

  // 层级
  --gm-z-index-affix: 950;
  --gm-z-index-mask: 1000;
  --gm-z-index-modal-mask: 1040;
  --gm-z-index-modal: 1050;
  --gm-z-index-tips: 7000;

  // 具体业务
  // nav
  --gm-nav-size-width: 92px;
  // modal
  --gm-modal-size-title-height: 40px;
  // switch
  --gm-switch-size-height: 22px;
  // border
  --gm-table-color-bg-head: #e8eaf0;
  // head 上的动作，比如排序
  --gm-table-color-bg-head-action: #ccc;
  --gm-table-color-bg-head-action-active: #999;
  --gm-table-size-height-action-bar: 50px;
}
