// 注意注意
// gm-list gm-list-item.active 被 Select 使用
.gm-list {
  border: 1px solid var(--gm-color-border);
  background: white;
  // 注意，overflow-y 会被 FunctionSet 覆盖
  overflow-y: auto;
  min-width: 80px;

  .gm-list-item {
    line-height: 1;
    cursor: pointer;
    padding: 10px;
    background: white;

    &.active {
      color: var(--gm-color-primary-active);
    }

    .gmDisabledWith();

    &.will-active {
      background-color: var(--gm-color-bg-primary-light);
    }

    &:hover {
      background-color: var(--gm-color-bg-primary-light);
    }
  }

  &.gm-list-group {
    line-height: 1;

    .gm-list-group-item {
      border-bottom: 1px solid var(--gm-color-border);

      &:last-child {
        border-bottom: none;
      }
    }

    .gm-list-label {
      color: var(--gm-color-secondary);
      padding: 9px 10px;
    }

    .gm-list-item {
      padding: 9px 10px 9px 22px;
    }
  }
}
